<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TraflConnection" value="Data Source= 183.82.48.194;Initial Catalog=Trufl;  User ID = dev; Password = dev" />
    <add key ="StorageConnectionString" value ="89EiwlxBv0+9XPO3IuzRf6RqNeR/Cr3iJuu4YFLmTFs2tnPAQW9n/iSlvvYNa8d43jq98TyTideMvCMfETcKRA=="/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>